.toolbar {
  padding: 0.2rem 2.7rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(var(--clr-gray));
  box-shadow: 1px 1px 8px rgb(var(--clr-darker-grey));
}

.text {
  color: rgb(var(--fnt-color-dark));
  font-family: var(--fnt-heading);
  font-size: 1.5rem;
  font-weight: 700;
}

.btn {
  padding: 1.2rem 1.5rem;

  background-color: transparent;

  border: 0px;
  border-radius: 1rem;

  color: rgb(var(--fnt-color-dark));
  font-family: var(--fnt-body);
  font-size: 0.9rem;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(var(--clr-lighter-gray));
}
