<div *ngIf="userRole === 'CUSTOMER'">
  <h1>Select a Package:</h1>
  <div class="package-list">
    <app-package
      *ngFor="let pkg of packages"
      [package]="pkg"
      [maxOptionsMap]="maxOptionsMap"
    ></app-package>
  </div>
</div>

<div *ngIf="userRole === 'ADMIN' && showPasswordInput">
  <h1>Enter Merchant Password:</h1>
  <input type="password" [(ngModel)]="apiKey.apiKey" placeholder="Paste Merchant Password here" />
  <button (click)="submitMerchantPassword()">Submit</button>
</div>
